# Importar as bibliotecas necessarias:

In [1]:
import pandas as pd 
import numpy as np 
import openpyxl as xl

### Criando dicionarios 1

In [2]:
Pessoa1 = {
    'nome': 'Felipe',
    'sobrenome': 'Machado',
    'idade': 23,
    'Data de nascimento' : '12/05/2001',
    'CPF': '48743558895',
    'Estado Civil': 'Divorciado',
}

#### primeiro dataframe

In [3]:
df_pessoa1 = pd.DataFrame([Pessoa1])
display(df_pessoa1)

     nome sobrenome  idade Data de nascimento          CPF Estado Civil
0  Felipe   Machado     23         12/05/2001  48743558895   Divorciado

## Segundo Dicionario 2

In [4]:
Pessoa2 = {
    'nome': 'Enzo',
    'sobrenome': 'Chaves',
    'idade': 9,
    'Data de nascimento': '10/08/2015',
    'CPF': '1562156152',
    'Estado Civil': 'Solteiro',
}

#### Dataframe 2

In [5]:
df_pessoa2 = pd.DataFrame([Pessoa2])
display(df_pessoa2)

   nome sobrenome  idade Data de nascimento         CPF Estado Civil
0  Enzo    Chaves      9         10/08/2015  1562156152     Solteiro

In [6]:
df_Pessoas = pd.DataFrame([Pessoa1,Pessoa2])
display(df_Pessoas)

     nome sobrenome  idade Data de nascimento          CPF Estado Civil
0  Felipe   Machado     23         12/05/2001  48743558895   Divorciado
1    Enzo    Chaves      9         10/08/2015   1562156152     Solteiro

# Criando novos dicionarios e DFs

In [7]:

Pessoa1 = {
    'nome': 'Felipe',
    'sobrenome': 'Machado',
    'idade': 23,
    'Data de nascimento': '12/05/2001',
    'CPF': '02212556335',
    'Estado Civil': 'Divorciado',
}

Pessoa2 = {
    'nome': 'Ana',
    'sobrenome': 'Silva',
    'idade': 30,
    'Data de nascimento': '25/11/1993',
    'CPF': '12345678901',
    'Estado Civil': 'Solteira',
}

Pessoa3 = {
    'nome': 'Carlos',
    'sobrenome': 'Oliveira',
    'idade': 40,
    'Data de nascimento': '15/03/1984',
    'CPF': '98765432100',
    'Estado Civil': 'Casado',
}

Pessoa4 = {
    'nome': 'Maria',
    'sobrenome': 'Pereira',
    'idade': 29,
    'Data de nascimento': '07/08/1995',
    'CPF': '56789012345',
    'Estado Civil': 'Viúva',
}

Pessoa5 = {
    'nome': 'João',
    'sobrenome': 'Costa',
    'idade': 35,
    'Data de nascimento': '22/01/1989',
    'CPF': '34567890123',
    'Estado Civil': 'Casado',
}

#### lista de dicionarios e display do novo DF

In [8]:
pessoas = [Pessoa1, Pessoa2, Pessoa3, Pessoa4, Pessoa5]

df_todos = pd.DataFrame(pessoas)
display(df_todos)

     nome sobrenome  idade Data de nascimento          CPF Estado Civil
0  Felipe   Machado     23         12/05/2001  02212556335   Divorciado
1     Ana     Silva     30         25/11/1993  12345678901     Solteira
2  Carlos  Oliveira     40         15/03/1984  98765432100       Casado
3   Maria   Pereira     29         07/08/1995  56789012345        Viúva
4    João     Costa     35         22/01/1989  34567890123       Casado

# Enviando para o Excel

In [9]:
df_todos.to_excel(r'C:\Users\felip\Documents\df_todos.xlsx', index=False)