# Pokemon

##### Importe as bibliotecas necessarias

In [6]:
import pandas as pd

#### Crie um dicionario e atribua-o a uma variavel chamada pokemon, crie um DF

In [7]:
pokemon = {

    'evolution' : ['Ivysaur', 'Charmeleon','Warortle', 'Metapod'],
    'hp' : [45,39,44,45],
    'nome' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex' : ['yes','no','yes', 'no'],
    'type' : ['grass', 'fire', 'water', 'bug']

}

df_pokemon = pd.DataFrame(pokemon)
df_pokemon

    evolution  hp        nome pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2    Warortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

#### Reorganize a ordem das colunas para: nome, tipo, hp, evolution, pokedex

In [8]:
df_pokemon = df_pokemon = df_pokemon.reindex(columns=['nome', 'hp', 'evolution', 'pokedex'])

df_pokemon

         nome  hp   evolution pokedex
0   Bulbasaur  45     Ivysaur     yes
1  Charmander  39  Charmeleon      no
2    Squirtle  44    Warortle     yes
3    Caterpie  45     Metapod      no

#### Adicione uma coluna de lugares

In [9]:
df_pokemon['places'] = ['Saffron','Cerulean','Pewter', 'Lavender']
df_pokemon

         nome  hp   evolution pokedex    places
0   Bulbasaur  45     Ivysaur     yes   Saffron
1  Charmander  39  Charmeleon      no  Cerulean
2    Squirtle  44    Warortle     yes    Pewter
3    Caterpie  45     Metapod      no  Lavender