### Importando Pandas

In [1]:
import pandas as pd

##### Criando Dicionario e um DF

In [2]:
alunos = {
'nome':['Felipe','Ana','Alex', 'joao'],
'idade': ['23', '15', '18', '21'],
'curso': ['Ads', 'Ads', 'Ads', 'FM'],
'Tipo de Doc': ['CPF', 'RG', 'RG', 'CPF'],
 }

df_alunos = pd.DataFrame(alunos)

df_alunos

     nome idade curso Tipo de Doc
0  Felipe    23   Ads         CPF
1     Ana    15   Ads          RG
2    Alex    18   Ads          RG
3    joao    21    FM         CPF

##### Enviando para o excel no devido reposit√≥rio

In [3]:
df_alunos.to_excel(r'C:\Users\felip\Documents\df_alunos.xlsx', index=False)